/* imports */
@import url("shell.css");

/* namespaces */
/* @namespace tei "http://www.tei-c.org/ns/1.0"; */
 

/* Less variables */
.block (@margins: 0) {
display:block;
margin-top:@margins;
margin-bottom:@margins;
}

.block-margins {
.block(1em)
}

.box-shadow {
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}

.hide {
display:none;
}

.label (@content) {
	&:before{
		content: @content;
	}
}

.mono {
font-family: Courier,monospace;
}

/* rend & rendition */

[rendition~="#block"]  {
display:block;
} 

[rendition~="#b"]  {
font-weight:bold;
} 

[rendition~="#u"]  {
text-decoration:underline;
} 

[rendition~="#i"]  {
font-style:italic;
} 

[rendition~="#mono"] {

}

[rendition~="#center"] {
display:block;
text-align:center;
margin-left:auto;
margin-right:auto;
}

[rendition~="#center-block"] {
display:block;
margin-left:auto;
margin-right:auto;
}

[rendition~="#l-indent-01"] {
padding-left:4em;
text-indent:-2em;
}

[rendition~="#l-indent-02"] {
padding-left:6em;
text-indent:-2em;
}

[rendition~="#l-indent-03"] {
padding-left:6em;
text-indent:-2em;
}

[rendition~="#l-indent-04"] {
padding-left:8em;
text-indent:-2em;
}

[rendition~="#l-indent-05"] {
padding-left:10em;
text-indent:-2em;
}

[rendition~="#l-indent-06"] {
padding-left:12em;
text-indent:-2em;
}

[rendition~="#l-indent-07"] {
padding-left:14em;
text-indent:-2em;
}

[rendition~="#l-indent-08"] {
padding-left:4em;
text-indent:-2em;
}

[rendition~="#sub"] {
vertical-align:sub;
font-size:80%;
}

[rendition~="#super"] {
vertical-align:super;
font-size:80%;
}

[rendition~="#upper-case"] {
text-transform:uppercase;
}

[rendition~="#small-caps"] {
font-variant:small-caps;
}

/* font sizes */

[rendition~="#small"] {
font-size:90%;
}

[rendition~="#x-small"] {
font-size:85%;
}

[rendition~="#xx-small"] {
font-size:80%;
}

/* A */
ab {
.block-margins;
} 

/* abbr/expan */
abbr {/* Empty Rule Set */}

expan:before {
content: "("
}

expan:after {
content: ")"
}

accMat {
display:block;
}
accMat:before {
content: "accompanying materials: ";
}

acquisition {
display:block;
	.label("acquisition");
}  
/*
acquisition:before {
content: "acquisition: ";

}
*/

activity {
display:block;
}  
activity:before {
content: "activity: ";
}

actor {/* Empty Rule Set */}

/* add */
/* Could add other [place=] variations */
add {
vertical-align:super;
}
add[place=below] {
vertical-align:sub;
}

addName {/* Empty Rule Set */}

addSpan {/* Empty Rule Set */} 

additional {
display:block;
}  

additions {
display:block;
}
additions:before {
content: "Significant additions within the document: ";
} 

addrLine {
display:block;
} 

address {/* Empty Rule Set */}

address[rend~="block"], addresss[rendition~="#block"]  {
display:block;
} 

adminInfo  {
display:block;
} 

affiliation {/* Empty Rule Set */}

age {/* Empty Rule Set */}

alt {/* Empty Rule Set */} 

altGrp {/* Empty Rule Set */} 

altIdent {/* Empty Rule Set */} 

altIdentifier  {
display:block;
}

altIdentifier:before {
content: "Alternate ID: ";
}

am {/* Empty Rule Set */}

analytic {/* Empty Rule Set */}

anchor {/* Empty Rule Set */} 

app  {
display:block;
}  

appInfo  {
display:block;
}
appInfo:before {
content: "Application information: ";
}

application  {
display:block;
}
application:after {
content: " " attr(version);
}

arc {/* Empty Rule Set */}

argument  {
display:block;
}  

att {
font-family: "Andale Mono", "Courier", "Courier New", monospace;
} 

att:before {
content: "@";
}

attDef {/* Empty Rule Set */}

attList {/* Empty Rule Set */} 

attRef {/* Empty Rule Set */} 

author {/* Empty Rule Set */} 
titleStmt > author {
display:block;
margin-bottom:1em;
}

authority {/* Empty Rule Set */} 

availability{
.label("Availability: ");
font-weight: bold;
}

availability[status]{
.label("Availability (" attr(status) "): ");
}


/* B */

back  {
display:block;
} 

bibl {/* Empty Rule Set */}
bibl[rend~="block"],bibl[rendition~="#block"] {
display:block;
padding-left:2em;
text-indent:-2em;
}

biblFull  {
display:block;
} 

biblScope {/* Empty Rule Set */}

biblStruct {/* Empty Rule Set */}
bicond {/* Empty Rule Set */}
binary {/* Empty Rule Set */}
binaryObject {/* Empty Rule Set */}
binding  {
display:block;
}
binding:before {
content: "Binding: \a";
white-space: pre-wrap;
}
binding[contemporary]:before {
content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
white-space: pre-wrap;
}
bindingDesc  {
display:block;
} 
bindngDesc:before {
content: "Binding Description: \A";
}

birth  {
display:block;
}
birth:before {
content: "Birth: ";
}
bloc {/* Empty Rule Set */}
body {

}
broadcast {/* Empty Rule Set */}
byline {/* Empty Rule Set */}
/* c */
c {/* Empty Rule Set */}
cRefPattern {
.hide;
}
caesura {/* Empty Rule Set */}
camera {/* Empty Rule Set */}
caption {}
case {}
castGroup {}
castItem {
display:list-item;
list-style-type:none;
}
castList {
.block-margins;
margin-left:2em;
}

catDesc {}
catRef {}
catchwords {}
category {}

cb {
.block-margins;
}
cb:before {
content:"[column break]";
}

cell {
display:table-cell;
padding:.25em;
}

certainty {}

change {}
channel {}
char {}
charDecl {}
charName {}
charProp {}

choice {}

cit {}
cl {}
classCode {}
classDecl {}
classRef {}
classSpec {}
classes {}
climate {}
closer {}
code {
.mono;
}
collation {}
collection {}
colloc {}
colophon {}
cond {}
condition {}
constitution {}
constraint {}
constraintSpec {}
content {}
corr {}
correction {}
country {}
creation {}
custEvent {}
custodialHist {}
/* d */
damage {}
damageSpan {}
datatype {}
date {}
dateline {}
death {}
decoDesc {}
decoNote {}
def {}
default {}
defaultVal {}
del {}
delSpan {}
depth {}
derivation {}
desc {}
dictScrap {}
dim {}
dimensions {}
distinct {}
distributor {}
district {}
div {}
div1 {}
div2 {}
div3 {}
div4 {}
div5 {}
div6 {}
div7 {}
divGen {}
docAuthor {}
docDate {}
docEdition {}
docImprint {}
docTitle {}
domain {}
/* e */
eLeaf {}
eTree {}
edition {}
editionStmt {}
editor {}
editorialDecl {}
education {}
eg {}
egXML {}
elementRef {}
elementSpec {}
email {}
emph {}
encodingDesc {
.hide;
}
entry {}
entryFree {}
epigraph {
	.block-margins;
}
epilogue {}
equipment {}
equiv {}
etym {}
event {}
ex {}
exemplum {}
expan {}
explicit {}
extent {}
/* f */
f {}
fDecl {}
fDescr {}
fLib {}
facsimile {}
factuality {}
faith {}
figDesc {}
figure {}
fileDesc {}
filiation {}
finalRubric {}
floatingText {}
floruit {}
foliation {}
foreign {}
forename {}
forest {}
forestGrp {}
form {}
formula {}
front {}
fs {}
fsConstraints {}
fsDecl {}
fsDescr {}
fsdDecl {}
fsdLink {}
funder {}
fvLib {}
fw {}

/* g */
g {}
gap {}
gb {}
gen {}
genName {}
geo {}
geoDecl {}
geogFeat {}
geogName {}
gi {}
gloss {}
glyph {}
glyphName {}
gram {}
gramGrp {}
graph {}
graphic {}
group {}
/* h */
handDesc {}
handNote {}
handNotes {}
handShift {}
/* Need head with TEI ancestor to distinguish from HTML head */
head {}
TEI head {
display:block;
}

/* "h1" */
body > head {
font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;
font-size: 1.55em;
line-height: 1.5em;
text-align: inherit;
font-weight: normal;
margin-top: 1em;
margin-right: 0;
margin-bottom: 0;
margin-left: 0;
}

/* h2 */
div > head {
	font-size: 1.1em;
	/* 1 */
	text-align: inherit;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	/* text-transform: uppercase; */
}

/* h3 */

 div > div > head {
	font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, 		"Bitstream Vera Sans", sans-serif;
	font-size: .91em;
	text-align: inherit;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin-top: 3em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	/* text-transform: uppercase; */
}

/* > h3 */
div div > head {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: inherit;
	font-weight: bold;
	line-height: 1.8em;
	margin-top: 2em;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}


headItem {}
headLabel {}
height {}
heraldry {}
hi {}
history {}
hom {}
hyph {}
hyphenation {}
/* i */
iNode {}
iType {}
ident {}
idno {}
if {}
iff {}
imprimatur {}
imprint {}
incident {}
incipit {}
index {}
institution {}
interaction {}
interp {}
interpGrp {}
interpretation {}
item {
display:list-item;
}
list[type = "gloss"] > item {
margin-left:2em;
}
/* j */
join {}
joinGrp {}
/* k */
keywords {}
kinesic {}
/* l */
l {
display:block;
padding-left:2em;
text-indent:-2em;
}
label {}
list[type = "gloss"] > label {
.block-margins;
font-weight:bold;
}
lacunaEnd {}
lacunaStart {}
lang {}
langKnowledge {}
langKnown {}
langUsage {}
language {}
layout {}
layoutDesc {}
lb {}
lb:after {
content: '\a' ; white-space: pre;
}
lbl {}
leaf {}
lem {}
lg {
.block-margins;
}
link {}
linkGrp {}
list {
.block-margins;
}

list[type = "simple"] {
list-style-type:none;
}
list[type = "bulleted"] {
list-style-type:disc;
}
list[type = "ordered"] {
list-style-type:decimal;
}
list[type = "gloss"] {
list-style-type: none;
}



listBibl {}
listEvent {}
listNym {}
listOrg {}
listPerson {}
listPlace {}
listRef {}
listWit {}
localName {}
locale {}
location {}
locus {}
locusGrp {}
/* m */
m {}
macroRef {}
macroSpec {}
mapping {}
material {}
measure {}
measureGrp {}
meeting {}
memberOf {}
mentioned {}
metDecl {}
metSym {}
milestone {
display:block;
margin-left:auto;
margin-right:auto;
text-align:center;
}
milestone:before {
content: "* * * * *";

}
moduleRef {}
moduleSpec {}
monogr {}
mood {}
move {}
msContents {}
msDesc {}
msIdentifier {}
msItem {}
msItemStruct {}
msName {}
msPart {}
musicNotation {}
/* n */
name {}
nameLink {}
namespace {}
nationality {}
node {}
normalization {}
note {
display:block;
margin:1.5em auto 1.5em auto;
padding:.5em 1.5em 1.5em 1.5em;
border:1px solid black;
border-radius: 15px;
width: 325px; 
position: relative; 
border: 1px solid #aaa;
background: #FFFF99;
/* reset text-indent for note with <l> ancestors. */
text-indent:0;
font-size:85%;
text-align:justify;
.box-shadow;
}
note::before {
content: "[Note]";
font-weight: bold;
margin-bottom: 1em;
display: block;
border-bottom: 1px solid #AAA;
padding: .5em;
}
notesStmt {}
num {}
number {}
numeric {}
nym {}
/* o */
oRef {}
oVar {}
objectDesc {}
objectType {}
occupation {}
offset {}
opener {}
org {}
orgName {}
orig {
display:none;
}
origDate {}
origPlace {}
origin {}
orth {}
/* p */
p {
.block-margins;
text-align:justify;
}
*[rendition~="#center"] p {
text-align:center;
}
availability > p:first-child {
	margin-top:0em;
}
pRef {}
pVar {}
particDesc {}
pause {}
pb {}
pc {}
per {}
performance {}
persName {}
person {}
personGrp {}
phr {}
physDesc {}
place {}
placeName {}
population {}
pos {}
postBox {}
postCode {}
postscript {}
precision {}
preparedness {}
principal {}
profileDesc {}
projectDesc {}
prologue {}
pron {}
provenance {}
ptr {}
pubPlace {}
publicationStmt > pubPlace {
.hide;
}
publicationStmt {}
publisher {}
publicationStmt > publisher {
.hide;
}
purpose {}
/* q */
q {}
quotation {}
quote {}
/* r */
rdg {}
rdgGrp {}
re {}
recordHist {}
recording {}
recordingStmt {}
ref {}
refState {}
refsDecl {}
reg {}
region {}
relatedItem {}
relation {}
relationGrp {}
remarks {}
rendition {}
repository {}
residence {}
resp {}
respStmt {}
respons {}
restore {}
revisionDesc {
.hide;
}
rhyme {}
role {}
roleDesc {}
roleName {}
root {}
row {
display:table-row;
}
rs {}
rubric {}
/* s */
/* When TEI document is embedded in HTML page, 
   TEI's <s> element can be interpreted by
   browser as HTML <s>, which results in 
   a strike-through from the "user agent"
   styles. */
s {
text-decoration:none;
}
said {}
salute {}
samplingDecl {}
schemaSpec {}
scriptDesc {}
scriptNote {}
scriptStmt {}
seal {}
sealDesc {}
secFol {}
seg {}
segmentation {}
sense {}
series {}
seriesStmt {
.hide;
}
set {}
setting {}
settingDesc {}
settlement {}
sex {}
shift {}
sic {}
signatures {}
signed {}
soCalled {}
socecStatus {}
sound {}
source {}
sourceDesc {
.hide;
}
sp {}
space {}
span {}
spanGrp {}
speaker {}
specDesc {}
specGrp {}
specGrpRef {}
specList {}
sponsor {}
stage {}
stamp {}
state {}
stdVals {}
street {}
stress {}
string {}
stringVal {}
subc {}
subst {}
summary {}
superEntry {}
supplied {}
support {}
supportDesc {}
surface {}
surname {}
surplus {}
surrogates {}
syll {}
symbol {}
/* t */
TEI {
display:block;
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-size:10pt;
width:650px;
background:#EBEBEB;
}
table {}
TEI table {
display:table;
}
tag {}
tagUsage {}
tagsDecl {}
taxonomy {}
tech {}
teiCorpus {}
teiHeader {
display:block;
border-radius: 15px;
border: 1px solid black;
background:white;
margin-top:4em;
margin-bottom:4em;
margin-left:10em;
padding:2.5em;
}
term {}
terrain {}
text {}
TEI > text {
display:block;
border-radius: 15px;
border: 1px solid black;
background:white;
margin-top:4em;
margin-bottom:4em;
margin-left:10em;
padding:3.5em;
line-height:1.5em;
}
textClass {}
textDesc {
.hide;
}
textLang {}
then {}
time {}
timeline {}

/* title */
/* Need TEI ancestor to distinguish TEI title from HTML title */
title {}
TEI title {display:inline;}
titleStmt > title {
display:block;
font-weight:bold;
}
titlePage {}
titlePart {}
titleStmt {}
tns {}
trailer {}
trait {}
tree {}
triangle {}
typeDesc {
display:none;
}
typeNote {}
/* u */
u {}
unclear {}
unicodeName {}
usg {}
/* v */
vAlt {}
vColl {}
vDefault {}
vLabel {}
vMerge {}
vNot {}
vRange {}
val {}
valDesc {}
valItem {}
valList {}
value {}
variantEncoding {}
view {}
vocal {}
/* w */
w {}
watermark {}
when {}
width {}
wit {}
witDetail {}
witEnd {}
witStart {}
witness {}
writing {}
/* x */
xr {}
/* z */
zone {}
